[Unit]
Description=Wallpaper setter
After=xorg.target

[Service]
Type=oneshot
ExecStart=%h/.set-wallpaper.sh
Environment=DISPLAY=:0

[Install]
WantedBy=xinit.target
