[user]
	name = Grégoire Seux
	email = kamaradclimber@gmail.com
[core]
    autocrlf = false
    safecrlf = false
    preloadindex = true #should be faster on NFS (because of weak caching semantics)
    hideDotFiles = dotGitOnly
    whitespace = trailing-space,space-before-tab
    hooksPath  = ~/git-hooks-common

[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    showbranch = auto
    status = auto

[diff]
    renames = true #detect rename of files, default since 2.9
    compactionHeuristic = true # new option in 2.9, better diff heuristic
    indentHeuristic = true # better heuristic for diff. should become default

[merge]
    summary=true
	tool = diffconflicts

[help]
    autocorrect = 3 #wait 0.3 seconds before excuting probable correction in case of mispell of commands

[alias]
    c = commit -s
    last = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    blameless = !"f() { git blame $@ | sed -re 's/\\(\\w+ \\w+/(Jeremy Mauro/' ; }; f"
    browse = !"f() { \
        DEFAULT_REMOTE=$(git remote |head -n1 );\
        REMOTE=$(git config remote.${1:-$DEFAULT_REMOTE}.url);\
        URL=$(echo $REMOTE | sed -E 's/^(git@|https:\\/\\/)(.*):(.*)\\.git$/https:\\/\\/\\2\\/\\3/');\
        $BROWSER $URL > /dev/null 2>&1 ;\
        };\
        f"
[push]
	default = upstream
[credential]
	helper = cache --timeout=360000000
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[http]
	sslVerify = false
[init]
	templatedir = ~/.git_template
[rebase]
    autosquash = true
    autostash = true # do all the manual work for me
[fetch]
    recurseSubmodules=true
    prune=true

[commit]
    verbose = true

[pager]
#    show = /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less
#    log  = /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less
#    diff = /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less

[interactive]
    diffFilter = /usr/share/git/diff-highlight/diff-highlight
[remote "origin"]
	tagOpt = --tags
