[user]
    name = Gregoire Seux
[core]
    autocrlf = false
    safecrlf = false
    preloadindex = true #should be faster on NFS (because of weak caching semantics)
    hideDotFiles = dotGitOnly
    whitespace = trailing-space,space-before-tab

[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    showbranch = auto
    status = auto

[diff]
    renames = true #detect rename of files
    mnemonicprefix = true #don't use a,b as prefix in diff output but i (index) and w (working directory) instead

[merge]
    summary=true

[help]
    autocorrect = 3 #wait 0.3 seconds before excuting probable correction in case of mispell of commands

[alias]
    last = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
