[user]
    name = Gregoire Seux
[core]
    autocrlf = false
    safecrlf = false
    preloadindex = true #should be faster on NFS (because of weak caching semantics)
    hideDotFiles = dotGitOnly
    whitespace = trailing-space,space-before-tab

[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    showbranch = auto
    status = auto

[diff]
    renames = true #detect rename of files
    mnemonicprefix = true #don't use a,b as prefix in diff output but i (index) and w (working directory) instead

[merge]
    summary=true
	tool = diffconflicts

[help]
    autocorrect = 3 #wait 0.3 seconds before excuting probable correction in case of mispell of commands

[alias]
    last = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    browse = !"f() { \
        DEFAULT_REMOTE=$(git remote |head -n1 );\
        REMOTE=$(git config remote.${1:-$DEFAULT_REMOTE}.url);\
        URL=$(echo $REMOTE | sed -r 's|.*@(.*):(.*).git|http://\\1/\\2|g');\
        URL=$(echo $URL    | sed -r 's|git://(.*).git|http://\\1|');\
        $BROWSER $URL > /dev/null 2>&1 ;\
        };\
        f"
[push]
	default = upstream
[credential]
	helper = cache --timeout=360000000
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[http]
	sslVerify = false
