! config for urwvt. To apply any change, use xrdb -merge $HOME/.Xresources

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007


URxvt*termName:rxvt-unicode
URxvt*transparent: false
! scrollbar style - rxvt (default), plain (most compact), next, or xterm
 URxvt*scrollstyle:plain

 URxvt.font:  xft:inconsolata:size=18

! use inverse colors for dark backgrounds
 URxvt.reverseVideo: True


! !yankable urls
URxvt.perl-ext-common:      default,clipboard,url-select,searchable-scrollback
URxvt.url-select.launcher:  /usr/bin/firefox --new-window
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-s:           perl:searchable-scrollback:start

! selection  is more clever : first one word and then extend
URxvt.selection.pattern-0: ([[:word:]]+)


URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7


!dzen configuration
dzen2.font:       Inconsolata:pixelsize=32
dzen2.foreground: #7777aa
dzen2.background: #000033


! urxvt set urgent when there is a bell
URxvt.urgentOnBell : true

! History size
URxvt*saveLines: 45000
