! config for urwvt. To apply any change, use xrdb -merge $HOME/.Xresources



URxvt*termName:rxvt-unicode
URxvt*transparent: true
! scrollbar style - rxvt (default), plain (most compact), next, or xterm
 URxvt*scrollstyle:plain 

 URxvt.font:  xft:inconsolata:size=10

! use inverse colors for dark backgrounds
 URxvt.reverseVideo: True


! !yankable urls
 URxvt.perl-ext:      default,url-select
 URxvt.keysym.M-u:    perl:url-select:select_next
 URxvt.urlLauncher:   chromium
 URxvt.underlineURLs: true



! selection  is more clever : first one word and then extend 
URxvt.selection.pattern-0: ([[:word:]]+)


URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7


!dzen configuration
dzen2.font:       Inconsolata:pixelsize=16 
dzen2.foreground: #7777aa
dzen2.background: #000033
