[Unit]
Description=i3 companion
PartOf=graphical-session.target

[Service]
Type=notify
ExecStart=%h/.cache/i3-companion/bin/python %h/.local/bin/i3-companion
Restart=on-failure

[Install]
WantedBy=xsession.target
