set from        = "g.seux@criteo.com"
set postponed   = "+Criteo/Drafts"
set record      = "+Criteo/Sent"

#Contact completion
set query_command="~/.dotfiles/mutt/ldap.pl `grep 'machine criteois.lan' -A 2 ~/.netrc | tail -n 1 | sed -e 's/.*password //'` '%s'"

# look and feel
set pager_index_lines = 8
set pager_context     = 5
set pager_stop
set menu_scroll
set smart_wrap
set tilde
unset markers
