set mbox_type   = Maildir

#MSMTP options are mostly common to all accounts
set from            = "kamaradclimber@gmail.com"

set spoolfile   = "+Gmail/INBOX"
set postponed   = "Gmail.Drafts"
unset record


macro index,pager D "<save-message>+Gmail/.Trash<enter>" "move message to the trash"
set mail_check  = 0

unset move
set delete
unset confirmappend
set quit


#Contacts handling
set query_command="goobook query '%s'"

# look and feel
set pager_index_lines = 8
set pager_context     = 5
set pager_stop
set menu_scroll
set smart_wrap
set tilde
unset markers

# composing
set fcc_attach
unset mime_forward
