set mbox_type   = Maildir

#MSMTP options are mostly common to all accounts
set from            = "kamaradclimber@gmail.com"

set spoolfile   = "+Gmail/INBOX"
set postponed   = "Gmail.Drafts"
unset record


macro index D "<save-message>+[Gmail]/Trash<enter>" "move message to the trash"
set mail_check  = 0

unset move
set delete
unset confirmappend
set quit
unset mark_old

set sort        = threads
set sort_aux    = reverse-last-date-received
set sort_re

# look and feel
set pager_index_lines = 8
set pager_context     = 5
set pager_stop
set menu_scroll
set smart_wrap
set tilde
unset markers

# composing
set fcc_attach
unset mime_forward
set forward_format = "Fwd: %s"
set include
set forward_quote

ignore *                               # first, ignore all headers
unignore from: to: cc: date: subject:  # then, show only these
hdr_order from: to: cc: date: subject: # and in this order
